body {
    font-family: 'Courier New', monospace;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#code-editor {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#code-input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    resize: none;
}

#output-panel {
    flex: 1;
    padding: 10px;
    background-color: #f4f4f4;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#output-panel textarea {
    border: none;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    resize: none;
}

#run-button {
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

#run-button:hover {
    background-color: #45a049;
}

#clear-console-button {
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: #527fb6;
    color: white;
    border: none;
    cursor: pointer;
}
#clear-console-button:hover {
    background-color: #4e77a9;
}


textarea {
    outline: none !important;
}

.terminal {
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow-y: auto;
}

#terminal-input-same-line:focus-visible {
    outline: none;
}
#terminal-input-same-line {
    display: inline-block;
    color: white !important;
    min-width: 1rem;
    min-height: 1rem;
}

#output {
    color: white;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    color: lime;
    margin-right: 5px;
}

#terminal-input {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
}

.disabled {
    opacity: 50%;
    pointer-events: none;
}
